<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
	<%= stylesheet_link_tag "screen", media: "all", "data-turbolinks-track" => true %>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class='<%= controller.controller_name %>'>
    
      <%= yield %>
  </body>
</html>